  // Small tablets and large smartphones (landscape view)
  $screen-sm-min: 576px;

  // Small tablets (portrait view)
  $screen-md-min: 768px;

  // Tablets and small desktops
  $screen-lg-min: 992px;

  // Large tablets and desktops
  $screen-xl-min: 1200px;

  @mixin sm {
      @media (min-width: #{$screen-sm-min}) {
          @content;
      }
  }

  // Medium devices
  @mixin md {
      @media (min-width: #{$screen-md-min}) {
          @content;
      }
  }

  // Large devices
  @mixin lg {
      @media (min-width: #{$screen-lg-min}) {
          @content;
      }
  }

  // Extra large devices
  @mixin xl {
      @media (min-width: #{$screen-xl-min}) {
          @content;
      }
  }
  @mixin rwd($screen) {
      @media (min-width: $screen+'px') {
          @content;
      }
  }

/*
 *
 * Add placeholder styles that work in all browsers
 *
 * Example: 
 *   input,  
 *   textarea {  
 *       @include input-placeholder {
 *           color: $grey;
 *      }
 *   }
 */

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

/**
  * Media queries for responsive design
  *
  *
  * --- EXAMPLE ---
  *
  *.site-header {
  *      padding: 2rem;
  *      font-size: 1.8rem;
  *      @include mq('tablet-wide') {
  *          padding-top: 4rem;
  *         font-size: 2.4rem;
  *     }
  *}
  *
  */
$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);
@mixin mq($width, $portrait: false, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @if $portrait == true {
            @media only screen and (#{$type}-width: $width) and (orientation: portrait) {
                @content;
            }
        } @else {
            @media only screen and (#{$type}-width: $width) {
                @content;
            }
        }
        
    }
}